* {
  margin: 0;
  padding: 0;
}
.myborder {
  border: 1px solid lightgrey;
  margin-left: 20px;
  margin-right: 20px;
}
nav {
  margin-top: 10px;
  text-align: center;
  height: fit-content;
  padding: 10px;
  border: 1px solid lightgrey;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.link button {
  margin: 5px;
  align-items: center;
  width: 200px;
}
